.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 460px;
    justify-content: center;
}

.content .imgBox {
    width: 675px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.content .imgBox img {
    max-width: 150px;
}

.swiper-slide img {
    position: absolute;
    bottom: 0;
    max-height: 100%;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
    margin-right: 20px;

    max-width: 560px;
   
}

.content .textBox h2 {
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;
}

.content .textBox p {
    color: #fff;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #e51e2a;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    Letter-spacing: 1px;
    text-decoration: none;
}
/*==============================*/

/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

/* ====================MAIN============== */


.banner {
    position: relative;
    width: 100%;
    padding-top: 43.4%;
    background: url(img/Banner.png) no-repeat top/contain;
}

.video {
    position: absolute;
    z-index: 1;
    bottom: 15%;
    left: 6%;
}



.modal-close button {
    cursor: pointer;
    padding: 10px 20px;
    color: #000;
    font-size: 24px;
    background-color: #fff;
    border: none;
}


.hero__video-container {
    width: 100%;
    height: 100vh;
}

.hero__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}



.views-product-btn {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #0065c3;
    border: 2px solid #fffaf3;
    text-transform: uppercase;
    color: #fffaf3;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.views-product-btn:hover {
    background-color: #fffaf3;
    color: #0065c3;
}

.smell-right {
    padding: 20px;
    margin-right: 100px;
}


/* ======================wrap-end============= */

.wrap-end {
    margin: 50px 100px;
}

.dear-hello {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.video-hello {
    width: 90%;
    margin-left: auto;
    overflow: hidden;
}

.video-hello video {
    border-radius: 20px;
    outline: none;
}

.dear-hello-text {
    padding: 50px;
}

.dear-hello-text h3 {
    font-size: 46px;
    text-transform: uppercase;
    font-family: titleFont;
    font-weight: 700;
    color: #044990;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 20px;
}

.dear-hello-text p {
    font-size: 22px;
    font-style: italic;
    text-align: center;
    padding: 0 80px;
    margin: 30px 0;
}

.dear-hello-text h4 span {
    text-transform: none;
    font-size: 30px;
    color: #000;
    margin-right: 20px;
}

.dear-hello-text h4 a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 60px;
    margin: 50px 0 0 0;
    color: #f8e50d;
    text-shadow: 0 0 8px #4d1212, 0 0 10px #04046b;
}

.dear-hello-text h4 a:hover {
    color: #991b1b;
    text-shadow: 0 0 3px #f8e50d, 0 0 5px #04046b;
}
